{% extends 'home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="topPage">
        <div class="colTop">
    {% if not is_granted('IS_AUTHENTICATED') %}
    <p><a href="{{path('app_login')}}">Se connecter</a></p>
    {% endif %}
        </div>
    <div class="colTop">
        <p>L'accès à l'intranet est réservé au personnel authentifié</p>
    </div>

    <div class="colTop">
        <button id="toggleBtn">
            Toggle
        </button>
    </div>
    </div>
<script src="{{ asset('js/toggleHome.js') }}"></script>    
{% endblock %}
