{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    <div class="formGlobal">
    {{ form_start(requestForm) }}
        <div class="formInside">
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email et nous vous enverrons un mot de passe.
            </small>
        </div>
        <button class="btn btn-primary">Send password reset email</button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
