
/* !!!!!!!!!!!!*/
/* Pour la classe board regarder la dox flex basis pour déterminer combien il y a de cartes sur une ligne*/

:root {
    --card-p-dark:#2e006a!important;    
    --background-color-light:  rgba(127, 255, 212, 0.10);
    --background-color-dark: rgba(14, 47, 36, 0.958);
    --text-color-light: rgba(0, 0, 0, 1);
    --text-color-dark: rgb(204, 204, 204);
    --label-color-dark: rgb(156, 156, 156);
    --b-color-dark: rgba(238, 238, 179, 0.7);
    --zoom-a-dark: rgba(255, 88, 11, 0.7);
    --nav-ul-dark: #87cfeb28;
    --form-dark: rgba(237, 79, 255, 0.1);
    --encard-dark: rgb(27, 27, 27);
}

html
{
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.5s, color 0.5s;
    font-family: 'Chakra Petch', sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.zero
{
    margin: 0;
    padding: 0;
}
nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: #87cfeb7a;
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
}
.zoom a
{
    color: #ac1e44;
    font-size: 1.25rem;
}

.zoom:hover
{
    transform: scale(1.2);
    transition: 1s;
}
.center
{
    text-align: center;
}
.container
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container h1
{
    text-align: center;
}

.card
{
    display: flex;
    flex-direction: column;
    width: 11rem;
    height: 11rem;
    border: dotted 1px red;
    padding: 0.5rem;
    background-color: rgba(127, 255, 212, 0.30);
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
}

.cardBig
{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    border: dotted 1px red;
    padding: 0.5rem;
    background-color: rgba(127, 255, 212, 0.30);
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
}

.card:hover
{
    background-color: rgba(127, 204, 255, 0.5);
    transition: 1s;
}

.cardBig:hover
{
    background-color: rgba(127, 204, 255, 0.5);
    transition: 1s;
}

.card img
{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.cardBig img
{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.imgCard
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cardBoard
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    gap: 0.5rem;
    justify-content: space-evenly;
}

.tableBoard
{
    display: flex;
    justify-content: center;
}
#filteredCards
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    gap: 0.5rem;
    justify-content: space-evenly;    
}
.regle
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
}


.titrePage
{
    padding-left: 42.5%;
}
.titreCard
{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.titreCard p
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.topPage
{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.topPage2
{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.colTop
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.topPageSpace
{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.board
{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.detail
{
    margin: 0;
    padding: 0;
}

.modules
{
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}
table
{
    text-align: center;
    border-collapse: collapse;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
.table-wrapper
{
    display: flex;
    justify-content: center;
    overflow-x: auto;
}
th, td
{
    border: solid 1px black;
    padding: 1rem;
}

.boldNoColorChange
{
    font-weight: 700;
}

button
{
    /* From https://css.glass */
background: rgba(153, 32, 223, 0.300);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 0.5rem;
font-weight: 700;
}

button:hover
{
    /* From https://css.glass */
    background: rgba(153, 32, 223, 0.800);
    cursor: pointer;
    transition: background-color 1s;

}

#map
{
    height: 500px;
    width: 500px;
}

input
{
    overflow: hidden;
}