{% extends 'base.html.twig' %}

{% block title %}Hallo StagiaireController!{% endblock %}

{% block body %}

    <h1>Bonjour Visiteur</h1>
    <div class="regle">
        <h2 class="titrePage">Stagiaires liste</h2>         
        <p class="looksLikeAButton"><a href="{{ path('newStagiaire') }}">Ajouter un stagiaire</a></p>
    </div>

    <div class="cardBoard">
        {% for stagiaire in stagiaires %}
            <div class="card">

                    <p class="titreCard"> {{ stagiaire.nom }} </p>
                    <div class="imgCard">
                        <img src=" {{asset('img/iconT.png')}}" alt="profile">
                    </div>
                    <p class="detail">Voir les détails du stagiaire : <a href=" {{path("detailStagiaire", {'id' : stagiaire.id}) }}"> Ici</a></p>

            </div>
            {% endfor %}
    </div>


        
{% endblock %}
