{% extends 'base.html.twig' %}

{% block title %}Hallo StagiaireController!{% endblock %}

{% block body %}

    <h1>Bonjour Visiteur</h1>

    <p>Stagiaires liste</p>
        {% for stagiaire in stagiaires %}
            <li> 
                {{ stagiaire.nom }} </br>
                Voir les détails du stagiaire : <a href=" {{path("detailStagiaire", {'id' : stagiaire.id}) }}"> Ici</a>
            </li>
        {% endfor %}

        <p><a href="{{ path('newStagiaire') }}">Ajouter un stagiaire</a></p>
        
{% endblock %}
