<!DOCTYPE html>

<html lang="fr">
    <head>
        {% block meta %}
        <meta name="description" content="Page d'accueil">
        {% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
<body>

    <main class="container">
        {% block body %}
            
        {% endblock %}
    </main>
</body>
</html>

<script src="{{ asset('js/toggle.js') }}"></script>    