{% extends 'base.html.twig' %}

{% block title %}Hello FormateurDetail{% endblock %}

{% block body %}
    <h1>{{ formateur }} est référent-e des sessions </h1>
        {% for session in formateur.sessions %}
            <li>{{ session }}</li>
        {% endfor %}

    <p>
        Contactez le formateur : <a href="mailto:{{formateur.email}}">{{ formateur.email }}</a>
    </p>
{% endblock %}
