{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<h1>Voici la liste des référents de session</h1>
    {% for formateur in formateurs %}

        <li><a href = " {{ path('detailFormateur', {'id' : formateur.id}) }}" >{{ formateur }} </a> <a href="{{ path("editFormateur" , {'id' : formateur.id}) }}">Editer</a></li>

    {% endfor %}

    <p><a href=" {{ path("newFormateur") }}">Ajouter </a> un formateur</p>
{% endblock %}
