{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}
<h1>Liste des modules programmés</h1>
<div class="topPage">
    {% if is_granted('ROLE_ADMIN') %}
    <a class="looksLikeAButton" href="{{ path("newProgramme") }}">
        Nouveau programme
    </a>
    {% endif %}
</div>

<div class="cardBoard">
    {% for programme in programmes %}
    <div class="card">
        {{ programme }}
        <a class="looksLikeAButton" href="{{ path("deleteProgramme" , {'id' : programme.id }) }}"> Déprogrammer
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
